pkgbase = github-desktop-git
	pkgdesc = GUI for managing Git and GitHub (unofficial Linux support patch applied official upstream)
	pkgver = 3.4.17
	pkgrel = 2
	url = https://desktop.github.com
	arch = x86_64
	license = MIT
	makedepends = imagemagick
	makedepends = python
	makedepends = python-setuptools
	makedepends = nodejs
	makedepends = npm
	makedepends = xorg-server-xvfb
	makedepends = yarn
	depends = curl
	depends = git
	depends = libsecret
	depends = libxss
	depends = nspr
	depends = nss
	depends = org.freedesktop.secrets
	depends = unzip
	optdepends = github-cli: CLI interface for GitHub
	optdepends = hub: CLI interface for GitHub
	provides = github-desktop
	conflicts = github-desktop
	source = github-desktop-git::git+https://github.com/desktop/desktop.git#tag=release-3.4.17-beta2
	source = git+https://github.com/github/gemoji.git
	source = git+https://github.com/github/gitignore.git
	source = git+https://github.com/github/choosealicense.com.git
	source = github-desktop.desktop
	source = github
	source = 0000-app_src_cli_main.ts.patch
	source = 0000-app_src_main-process_app-window.ts.patch
	source = 0000-app_src_main-process_main.ts.patch
	source = 0000-app_src_ui_about_about.tsx.patch
	source = 0000-app_src_ui_add-repository_add-existing-repository.tsx.patch
	source = 0000-app_src_ui_app.tsx.patch
	source = 0000-app_src_ui_window_title-bar.tsx.patch
	source = 0000-app_src_ui_window_window-controls.tsx.patch
	source = 0000-app_styles_ui_window__title-bar.scss.patch
	source = 0000-script_dist-info.ts.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 2f2b5425658106c080c17bf57af4541630157aa2e1133b3033bb6e24a95dd179
	sha256sums = 6d59c9cf63f3aa86bec9ec6b225899cc84bf651e00d112a7d55026e35d9c7dcf
	sha256sums = d0d9d82c163b538185a449d5304271414b3ffdd897e00059f06854d4bc4b8e2e
	sha256sums = 9bfe0224dc8f3ce0630303085bd538f5466a772d0b156a3af9bea98c552e1a33
	sha256sums = 2e0dc550765b5e58a0e0f6efc3a025c638aba27b3185c91fb80c0aeaf86a6ba6
	sha256sums = 25c4d7b2191b05d181cb8b58519b6b0c918ca50d0cebe72ced90be807fc92eba
	sha256sums = eb3e9732120b0c04e4b907b7be9252f75e3e7845fd67a6d371d1183cb2b90e40
	sha256sums = f22893cd5385d1d2bec5bf55f6b31b32592823515dbf255b5cbfb3b151437d2e
	sha256sums = 71afc34f3b38bbf1283e837a01d5eda5ccd8a8258c41eada79ad2be0b74c9d32
	sha256sums = 6a107ec5dcbaae526c5be03956fb0d04e633639f3b513b89759c2d0f670a887c
	sha256sums = b397cc80473212632eb3d823559d78d2e55dc6bac283fc7bcb82ab78ed2fa515
	sha256sums = 855c1225fd8f15aa558ed7810761859418025655ba688d5f0020c892c1162822

pkgname = github-desktop-git
