#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GitHub Desktop
Comment=Extend your GitHub workflow beyond your browser with GitHub Desktop
Comment[es]=Trabaja con GitHub desde tu escritorio.
Comment[eu]=GitHub-ekin lan egin zure ordenagailutik.
Exec=/opt/github-desktop/desktop %U
Terminal=false
Type=Application
Icon=github-desktop
Categories=Development;
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;x-scheme-handler/github-mac;x-scheme-handler/github-windows;x-scheme-handler/github-linux;x-scheme-handler/github
